/*regole per css*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: sans-serif;
    }
    

/* ----------------------*/


.container {
    width: 100%;
    margin: 0 auto;
}


.header {
    background-color: rgb(60, 53, 251);
    display: flex;
    padding: 20px 0;
    justify-content: center;
    margin: 0 auto;

}

.navbar {
    display: flex;
    background-color:rgb(60, 53, 251) ;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    width: 800px;
    margin: 0 auto;
    

}

 a {
    color: white;
    text-decoration: none;
    }

  h2  {
    color: white;
    font-size: 35px;
    padding-top: 80px;

     }

     p {
        
     }


    .right-login {
        background-color: white;
        padding: 10px;
            border-radius: 30px;
}




     
   

   
         



.nav-links {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    gap: 40px;
}

.blue-section {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 60px;
}


.first-section {
    
    height: 330px;
 
}

.white1-section {
    height: 400px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 10%;




}

.second-section1 {
    height: 330px;
    width: 50%;
    display: flex;
    

}

.second-section2 {
    height: 330px;
    width: 30%;
    background-color: rgb(229, 82, 209);
    display: flex;
    border: dashed 1px;
}

.grey1-section {
    height: 400px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 10%;
    background-color: rgb(157, 155, 155);
}

.third-section2 {
    height: 330px;
    width: 70%;
    background-color: rgb(13, 38, 202);
    display: flex;
    border: dashed 1px;
}

.third-section {
    height: 330px;
    width: 30%;
    background-color: rgb(234, 101, 221);
    display: flex;
    border: dashed 1px;

}

.white2-section {
    height: 400px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 10%;
}

.fourth-section {
    height: 330px;
    width: 70%;
    background-color: rgb(9, 117, 199);
    display: flex;
    border: dashed 1px;
}

.fourth-section2 {
    height: 330px;
        width: 30%;
        background-color: rgb(229, 82, 209);
        display: flex;
        border: dashed 1px;
    }
    
    .grey2-section {
        height: 700px;
        justify-content: center;
        display: flex;
        align-items: center;
        padding: 10%;
        background-color: rgb(157, 155, 155);
    }
    
    .five-section {
        height: 530px;
        width: 800px;
        background-color: rgb(8, 127, 45);
        border: dashed 1px;
    }
    
    .footer-1 {
        height: 330px;
        justify-content: center;
        display: flex;
        align-items: center;
        padding: 15%;
        background-color: rgb(30, 30, 30);
        margin-bottom: 1px;
        flex-wrap: nowrap;

    }
    
    .pink-first-footer {
        height: 330px;
        padding-bottom: 39%;
        width: 25%;
        background-color: rgb(207, 124, 199);
        display: flex;
        border: dashed 1px;
    }
    
    .azul-footer {
    
        height: 330px;
        width: 15%;
        background-color: rgb(36, 176, 176);
        display: flex;
        border: dashed 1px white;
        padding-bottom: 39%;
    }

    .footer-2 {
         height: 50px;
        justify-content: center;
        display: flex;
        align-items: center;
        padding: 3%;
        background-color: rgb(47, 46, 46);
        flex-wrap: nowrap;
    }

    .nav-footer {
        background-color: aquamarine;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 800px;
        padding: 2%;
    }

    .button-container {
        background-color: yellowgreen;
        border: dashed 1px black;
        display: flex;
        justify-content: center;
        align-items: center;
        

    }

    .button {
         background-color: yellowgreen;
    }
